.grid_13.push_1
  -form_tag create_note_path,:method =>:post do
    =render :partial=>"notes/parts/notefile_form",:locals=>{:name=>"#{NoteRepository::NOTE_FILE_PREFIX}1",:text=>""}
    .add_new_notefile (暂留增加文件按钮)
    =submit_tag "创建 Note"

.grid_8.push_1
  .top-bar.clearfix
    .fleft.font14.bold note 列表
  %div
    -current_user.notes.each do |note|
      %div=link_to note.title,show_note_path(:note_id=>note.id)