-field_name = "notefile[#{name}]"
-id = name.sub(NoteRepository::NOTE_FILE_PREFIX,"")
.notefile{:"data-notefile_id"=>id}
  .name= name
  .notefile_form
    =text_area_tag field_name,text
  -if has_delete_button ||= false
    .notefile_delete_tip.hide 准备删除
    =link_to "删除文本片段",'#',:class=>"delete_notefile"
